:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 700;
}

body {
  height: 100vh;
  background-color: var(--light-grayish-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.splitter {
  margin-bottom: 50px;
}

.splitter p {
  font-size: 20px;
  letter-spacing: 5px;
}

.container {
  background-color: var(--white);
  height: 55vh;
  min-height: 325px;
  max-height: 436px;
  width: 55vw;
  min-width: 600px;
  max-width: 825px;
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  gap: 1rem;
}

.left,
.right {
  flex: 1;
  height: 100%;
  border-radius: 15px;
}

.left {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right {
  padding: 5vh;
}

.field {
  width: 100%;
}

.field label {
  color: var(--dark-grayish-cyan);
  margin-bottom: 1rem;
}

.input-with-icon {
  position: relative;
  margin-top: 0.5rem;
}

.input-with-icon input {
  width: 100%;
  background-color: var(--very-light-grayish-cyan);
  border: none;
  border-radius: 6px;
  height: 35px;
  padding: 0.5rem 2.25rem;
  text-align: right;
  font-size: 20px;
  color: hsl(183, 100%, 15%);
}

.input-with-icon input:focus-visible {
  outline: none !important;
}

.input-with-icon .icon {
  position: absolute;
  left: 15px;
  top: 60%;
  transform: translateY(-50%);
}

.tips .field .percents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 40px);
  gap: 0.75rem;
  margin-top: 1rem;
}

.tips .field .percents .button {
  border: none;
  border-radius: 6px;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 1.25rem;
}

.tips .field .percents .button.active {
  background-color: hsl(172, 67%, 45%);
  color: var(--very-dark-cyan);
}

.tips .field .percents .button:hover {
  cursor: pointer;
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.tips .field .percents .custom {
  border: none;
  border-radius: 6px;
  background-color: var(--very-light-grayish-cyan);
  color: var(--dark-grayish-cyan);
  font-size: 1.25rem;
}

.right {
  background-color: var(--very-dark-cyan);
  display: flex;
  flex-direction: column;
}

.label-tip-amount {
  margin-top: 7px;
  color: white;
}
.label-total {
  margin-top: 7px;
  color: white;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.total {
  display: flex;
  justify-content: space-between;
}

.label-precio {
  color: var(--strong-cyan);
  font-size: 40px;
}

P {
  color: var(--dark-grayish-cyan);
  font-size: 12px;
}

.buton-submit {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.submit-buton {
  height: 40px;
  width: 100%;

  border-radius: 4px;
  background-color: var(--dark-grayish-cyan);
  border: none;
  color: var(--very-dark-cyan);
  font-size: 16px;
}

.submit-buton:hover {
  cursor: pointer;
  background-color: var(--light-grayish-cyan);
}

::placeholder {
  position: absolute;
  right: 20px;
  color: var(--light-grayish-cyan);
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

:placeholder-shown {
  color: var(--very-dark-cyan);
  font-size: 20px;
}
